{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header.html" %}
    <title>{% block title%} Log in {% endblock %} </title>
</head>

<body>

<div class="container log-container">
    <div class="log-intro">
        <h1> Please enter your info to log in </h1>
        {% with messages = get_flashed_messages() %}
    </div>
    <div class="log-form">
               {% if messages %}
    {% for message in messages %}
    <p> {{message}} </p>
    {% endfor %}
    {% endif %}
    {% endwith %}

        {{ wtf.quick_form(form, novalidate= True, button_map={'submit':'primary'}) }}

    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
{% endblock %}

</html>